{% extends 'base.html' %} 
{% block extrahead %}
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/jquery-ui.min.css" rel="stylesheet">
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/redirect.js"></script>
<script>
$(window).load(function(){
  $(".alert").addClass("in").fadeOut(4500);

  /* swap open/close side menu icons */
  $('[data-toggle=collapse]').click(function(){
    // toggle icon
    $(this).find("i").toggleClass("glyphicon-chevron-right glyphicon-chevron-down");
});
  var search_list = {{ search_list|safe }}
  $("#search").autocomplete({
    source: search_list,
    minLength: 2,
    appendTo:"#autoComplete",
  });

});
</script> 
{% endblock %} 
{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Side Nav -->


        <div class="col-sm-1">
            <!-- Create New Project -->
            <button class="btn btn-primary btn-lg" data-target="#createproject"
            data-toggle="modal" type="button"><strong><i class=
            "glyphicon glyphicon-wrench"></i> New Project</strong></button>

            <div class="modal" id="createproject" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal" type=
                            "button"><span>&times;</span><span class=
                            "sr-only">Close</span></button>

                            <h4 class="modal-title" id="createprojectlabel">
                            Create New Project</h4>
                        </div>
                        <!-- Creat project Form -->

                        <form action="/programs/" method="post">
                            {% csrf_token %}

                            <div class="modal-body">
                                {% for field in form %} {% if field.field.required %} {% if field.errors %}

                                <div>
                                    <span class="glyphicon glyphicon-exclamation-sign"><label>{{ field.label_tag }}</label>
                                    {{ field }}
                                    <span class="sr-only">Error:</span>{{ field.errors }}</span></span></label></span>
                                </div>
                                {% else %}
                                <label>{{ field.label_tag }} {{ field }} {% endif %}<br>
                                {% endif %} {% endfor %}</label></span>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-default"
                                data-dismiss="modal" type="button">
                                Cancel</button>
                                <button class="btn btn-primary" type=
                                "submit">Save Project</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End Create New Project -->

            <hr>

            <div class="input-group custom-search-form">
                <input class="form-control" placeholder=" Search..." type="text" id="search"> <span class="input-group-btn"><button class="btn btn-default" type="button" onclick="redirect()"><span class="input-group-btn fa fa-search" style="font-style: italic"></span></button></span>
            </div>

<div id="autoComplete">
</div>
            <ul class="list-unstyled">
                <!-- Project drop down menu -->
                <!-- Undefined -->


                <li class="nav-header">
                    <a data-target="#UNDEFINED" data-toggle="collapse" href="#">
                    <h5>Undefined<i class="glyphicon glyphicon-chevron-right"></i></h5></a>

                    <ul class="list-unstyled collapse" id="UNDEFINED">
                        <li style="list-style: none">{% for program in programs %} {% if program.phase == "UNDEFINED" %}</li>


                        <li>
                            <a href="{% url 'program_list' %}{{ program.name }}">
                            <i class="glyphicon glyphicon-th"></i> {{ program.name }}</a>
                        </li>


                        {% endif %} {% endfor %}
                    </ul>
                </li>
                <!-- Pre CC -->


                <li class="nav-header">
                    <a data-target="#PreCC" data-toggle="collapse" href="#">
                    <h5>Pre-CC <i class="glyphicon glyphicon-chevron-right"></i></h5></a>

                    <ul class="list-unstyled collapse" id="PreCC">
                        <li style="list-style: none">{% for program in programs %} {% if program.phase == "PRE-CC" %}</li>


                        <li>
                            <a href="{% url 'program_list' %}{{ program.name }}">
                            <i class="glyphicon glyphicon-th"></i> {{ program.name }}</a>
                        </li>


                        {% endif %} {% endfor %}
                    </ul>
                </li>
                <!-- CC  -->


                <li class="nav-header">
                    <a data-target="#CC" data-toggle="collapse" href="#">
                    <h5>CC <i class="glyphicon glyphicon-chevron-right"></i></h5></a>

                    <ul class="list-unstyled collapse" id="CC">
                        <li style="list-style: none">{% for program in programs %} {% if program.phase == "CC" %}</li>


                        <li>
                            <a href=
                            "{% url 'program_list' %}{{ program.name }}">
                            <i class="glyphicon glyphicon-th"></i> {{ program.name }}</a>
                        </li>

                        {% endif %} {% endfor %}
                    </ul>
                </li>
                <!-- EC -->


                <li class="nav-header">
                    <a data-target="#EC" data-toggle="collapse" href="#">
                    <h5>EC <i class="glyphicon glyphicon-chevron-right"></i></h5></a>

                    <ul class="list-unstyled collapse" id="EC">
                        <li style="list-style: none">{% for program in programs %} {% if program.phase == "EC" %}</li>


                        <li>
                            <a href="{% url 'program_list' %}{{ program.name }}">
                            <i class="glyphicon glyphicon-th"></i> {{ program.name }}</a>
                        </li>


                        {% endif %} {% endfor %}
                    </ul>
                </li>


                <li class="nav-header">
                    <a data-target="#FCS" data-toggle="collapse" href="#">
                    <h5>FCS <i class="glyphicon glyphicon-chevron-right"></i></h5></a>

                    <ul class="list-unstyled collapse" id="FCS">
                        <li style="list-style: none">{% for program in programs %} {% if program.phase == "FCS" %}</li>


                        <li>
                            <a href="{% url 'program_list' %}{{ program.name }}">
                            <i class="glyphicon glyphicon-th"></i> {{ program.name }}</a>
                        </li>


                        {% endif %} {% endfor %}
                    </ul>
                </li>
                <!-- Archived -->


                <li class="nav-header">
                    <a data-target="#ARCHIVED" data-toggle="collapse" href="#">
                    <h5>Archived <i class=
                    "glyphicon glyphicon-chevron-right"></i></h5></a>

                    <ul class="list-unstyled collapse" id="ARCHIVED">
                        <li style="list-style: none">{% for program in programs %} {% if program.phase == "ARCHIVED" %}</li>


                        <li>
                            <a href="{% url 'program_list' %}{{ program.name }}">
                            <i class="glyphicon glyphicon-th"></i> {{ program.name }}</a>
                        </li>


                        {% endif %} {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>


        <div class="col-sm-1">
        </div>
        <!-- Main Display -->
            <div class="col-sm-11">
                {% block display %}
                <div class="container">
                  <br>
                  <table class="table table-striped">
                  <thead>
                  <tr>
                      <th data-field="Name">Name</th>
                      <th data-field="Clarity-ID">Clarity ID</th>
                      <th data-field="Status">Health</th>
                      <th data-field="Phase">Phase</th>
                  </tr>
                  {% for program in programs %}
                  <tr id="{{ program.name }}"
                  {% if program.health == 'RED' %}
                  class="danger">
                  {% elif program.health == 'WHITE' %}
                  >
                  {% elif program.health == 'GREEN' %}
                  class="success">
                  {% endif %}
                      <td><a href=
                            "{% url 'program_list' %}{{ program.name }}">
                            <i class="glyphicon glyphicon-th"></i>
                            {{ program.name }}</a></td>
                      <td>{{ program.clarity_id }}</td>
                      <td>{{ program.health }}</td>
                      <td>{{ program.phase }}</td>
                  </tr>
                  {% endfor %}
                  </thead>
                  </table>
                  </div>
                {% endblock %}
            </div>
        </div>
</div>
{% endblock %}